{% extends "auctions/layout.html" %}


{%block body%}
<form action="{% url 'create_listing' %}" method="POST">
    
    <h1 style="margin-left: 1%;">Create Listing</h1>

    <div>
        <form action="{% url 'create_listing' %}" method="post" id="create_listing_form">
            {% csrf_token %} 

            <div id="desc_buttons" >
                <input type="text" name="title" placeholder="Title">
                <input type="number" name="price" placeholder="$ Price" step="1">
                <input type="text" name="category" placeholder="Category. eg. Fashion">
            </div>
            <div >
                <input id="desc_box" type="text" name="content" placeholder="Description of listing..">
            </div>
            <div id="image_input">
                <input type="url" name="pic" placeholder="Image URL">
            </div>
            <button class="btn btn-primary" type="submit" id="create_submit">Submit</button>
        </form>
    </div>

    
    <br>
    

</form>

{%endblock%}